{
    "arrowParens": "always",
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "ignore",
    "jsxBracketSameLine": true,
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5"
}
